//COMMON COLORS
$color-pure-black: rgb(0, 0, 0);
$color-black: #001836;
$color-black-1: #31465e;
$color-gray-1: #3e5067;
$color-gray-2: #6a7889;
$color-gray-3: #94a3ad;
$color-gray-4: #cacfd5;
$color-gray-5: #dcdfe3;
$color-gray-6: #edeff1; //disabled
$color-gray-7: #f6f7f8;
$color-sand: #f7f7f7;
$color-white: #fff;
$color-transparent: transparent;
$color-medium-gray: #31465e;
$color-dark-gray: #1f2d3d;
$color-error: #ff6e75;

//COMMON BOX SHADOW VALUES
$box-shadow-small: 0 0 2px rgba(0, 0, 0, 0.2);
$box-shadow-medium: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
$box-shadow-big: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.25);
