@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap");

$font-family-main: "Alegreya", serif;

body {
  //color: $color-gray-1;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
}
