@import "../../styles/colors.scss";
@import "../../styles/typography.scss";
@import "../../styles/mixins.scss";

.home {
  max-width: 1440px;
  margin: 0 auto;

  &__figure {
    margin: 0;

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    margin: 40px 80px;

    &-figure {
      flex: 1;
      height: 666px;
      margin: 0;
      max-width: 500px;

      &--img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-about {
      align-items: center;
      background-color: $color-sand;
      border-radius: 8px;
      display: flex;
      flex: 1;
      max-height: 400px;
      max-width: 400px;
      padding: 40px;
      margin: 90px -100px 0 0;
      z-index: 1;

      &--title {
        margin-bottom: 50px;
        text-transform: uppercase;
      }

      &--paragraph {
        line-height: 30px;
      }
    }
  }

  @include respond-to($mobile, max) {
    &__section {
      display: block;
      margin: 20px;

      &-about {
        margin: -40px 20px;
        max-width: 450px;
        position: relative;
        z-index: 2;
      }

      &-figure {
        max-width: 600px;

        &--img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
