@import "../../styles/colors.scss";
@import "../../styles/typography.scss";
@import "../../styles/mixins.scss";

.viewbeers {
  display: flex;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;

  &__table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-top: 80px;
    margin: 80px auto;

    &-row {
      border: 1px solid $color-gray-5;
      text-align: center;
      word-wrap: break-word;
      font-size: 16px;
    }

    &-column {
      padding: 15px;
    }

    &-button {
      border: 0;
      padding: 6px;
      cursor: pointer;
      border-radius: 10px;
      outline: none;
      background-color: darken($color-sand, 15%);
    }
  }
}
