@import "../../styles/colors.scss";
@import "../../styles/typography.scss";
@import "../../styles/mixins.scss";

.addbeer {
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 76px - 52px);
  justify-content: center;

  &__container {
    align-items: center;
    display: flex;
    margin-right: 80px;

    &-title {
      font-weight: 400;
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    &-figure {
      height: calc(100vh - 76px - 52px);
      margin: 0;
      max-width: 730px;

      &--img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  @include respond-to($tablet-mid, max) {
    &__container {
      margin-right: 40px;
    }
  }

  @include respond-to($mobile, max) {
    height: 100%;
    display: block;

    &__container {
      margin: 0;

      &--sec {
        margin: 40px;
      }

      &-figure {
        height: 300px;
      }
    }
  }
}
